{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title %}

{% block headscripts %} {{ block.super }} {% endblock headscripts %}

{% block content %}

<!--- Insert Body Content here -->
<div class="head">
    <div class="jumbotron">
        <h1 class="display-4 text-center">
            {% if isTutorial %}
            Tutorial
            {% else %}
            Coding #{{ challenge.id }} {{ challenge.name }}
            {% endif %}
        </h1>
        <img src="https://developers.google.com/blockly/images/logos/logo_built_on.png" class="float-end" style="height: 50px; width: 150px" alt="https://developers.google.com/blockly">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <div id="blocklyDiv" style="height: 500px; width: 800px;">
                        <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
                            <!-- <block type="lists_create_with"></block> -->
                            <block type="controls_repeat_ext">
                                <value name="TIMES">
                                    <shadow type="math_number">
                                        <field name="NUM">3</field>
                                    </shadow>
                                </value>
                            </block>
                            {% for command in blocks %}
                            <block type="{{ command.0 }}" id="{{ command.1 }}"></block>
                            {% endfor %}
                        </xml>
                    </div>
                </table>
            </div>
            <div class="col" id="TestGridSpace">
                <h1 style = "text-align: center;">Map</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#code-checker">
                    Check Code
                </button>
            </div>
            {% if isTutorial is False %}
            <div class="col-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#send-command">
                    Send Commands
                </button>
            </div>
            {% endif %}
            <div class="col-2">
                <button id="run-command" type="button" class="btn btn-info hidden">
                    Run command
                </button>
            </div>
        </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="code-checker" tabindex="-1" role="dialog" aria-labelledby="code-checker" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="code-checker-title">Your Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="7" disabled></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    <button id="test-code"type="button" class="btn btn-primary" data-dismiss="modal">Run Test</button>
                </div>
            </div>
        </div>
    </div>

    {% if isTutorial is False %}
    <!-- Modal -->
    <div class="modal fade" id="send-command" tabindex="-1" role="dialog" aria-labelledby="send-command" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="send-command-title">Your Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button id="confirm-send" type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    // Map elements
    let raw_map = "{{ challenge.map }}";
    const map = raw_map.split(',');
    const id = '{{challenge.id}}';
    const map_size = '{{ challenge.size }}';

    var lastClicked;
    createGrid();

    // Generates the grid for the map based on the map data
    function clickableGrid(rows, cols) {
        var i = 0;
        var grid = document.createElement('table');

        grid.className = 'grid';
        for (var r = 0; r < rows; ++r) {
            var tr = grid.appendChild(document.createElement('tr'));
            for (var c = 0; c < cols; ++c) {
                var cell = tr.appendChild(document.createElement('td'));
                if (i == 0) {
                    cell.innerHTML = '';
                    cell.bgColor = 'green';
                    i++;
                    cell.value = i
                    cell.id = 'grid-' + i.toString();
                }
                else if (i == (rows * cols) - 1) {
                    cell.innerHTML = "";
                    cell.bgColor = 'red';
                    i++;
                    cell.value = i
                    cell.id = 'grid-' + i.toString();
                }
                else {
                    console.log(i, map[i])
                    if (map[i] == "1"){
                        cell.className = "clicked";
                        console.log("HIT" + i);
                    }
                    cell.innerHTML = ++i;
                    cell.value = i
                    cell.id = 'grid-' + i.toString();
                }
            }
        }
        return grid;
    }

    // creates the grid in the space defined in HTML element
    function createGrid(e) {
        var grid = clickableGrid(map_size, map_size, function (el, row, col, i){
            console.log("You clicked on element:", el);
            console.log("You clicked on row:", row);
            console.log("You clicked on col:", col);
            console.log("You clicked on item #:", i);

            if ((row != 0 || col != 0) && (row != (3 - 1) || col != (3 - 1))) {
                if (el.className == 'clicked'){
                    el.className = '';
                }
                else {
                    el.className = 'clicked';
                }
            }
        });
        document.getElementById('TestGridSpace').appendChild(grid);
    }
    
</script>

{% include 'alertmodal.html' %}

{% endblock content %}

{% block jsfile %}
{{ block.super }}
{% endblock jsfile %}