<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ICT210</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/icons.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="{% static 'css/pace.min.css' %}" rel="stylesheet" />

    <!-- Bootstrap bundle JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--plugins-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
    <script src="{% static 'plugins/metismenu/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <!--start sidebar -->
    <div class="container">
        <aside class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header d-flex justify-content-center">

                <div>
                    <h1 class="logo-text">Student</h1>
                </div>

            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a href="/dashboard">
                        <div class="parent-icon"><i class="bi bi-activity"></i>
                        </div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="parent-icon"><i class="bi bi-stopwatch"></i>
                        </div>
                        <div class="menu-title">Challenge</div>
                    </a>
                </li>
                <li>
                    <a href="/tutorial">
                        <div class="parent-icon"><i class="bi bi-calendar-week"></i>
                        </div>
                        <div class="menu-title">Tutorial</div>
                    </a>
                </li>

            </ul>
            <!--end navigation-->
        </aside>
    </div>
    <!--end sidebar -->
    <div class="head">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Create Challenge</h1>
        </div>
        <p style="text-align: center;">
            Click on the grid to add an obstacle to the maze
        </p>
        <select id="gridSize" class="gridSize" onchange="gridChange(this);" style="margin-left: 1050px;width: 200px;">
            <option value="3" style="text-align: center;">3 x 3</option>
            <option value="5" style="text-align: center;">5 x 5</option>
            <option value="7" style="text-align: center;">7 x 7</option>
        </select>
        <div id='gridSpace'></div>

        <div>
            <a class= "btn btn-primary" href="../" style="color: black; margin-left: 1050px; width: 200px;">Save</a>
        </div>
    </div>

</body>

<script>
    var lastClicked;
    createGrid();
    let gridSize = document.querySelector('.gridSize');
    gridSize.addEventListener('change', (event) => {
        if ($(".grid")) {
            $(".grid").remove();
        }
        createGrid();
    })


    function createGrid(e) {
        var grid = clickableGrid($('#gridSize').val(), $('#gridSize').val(), function (el, row, col, i) {
            console.log("You clicked on element:", el);
            console.log("You clicked on row:", row);
            console.log("You clicked on col:", col);
            console.log("You clicked on item #:", i);

            if ((row != 0 || col != 0) && (row != ($('#gridSize').val() - 1) || col != ($('#gridSize').val() - 1))) {
                if (el.className == 'clicked')
                    el.className = '';
                else {
                    el.className = 'clicked';
                }
            }

        });
        document.getElementById('gridSpace').appendChild(grid)
    }



    function clickableGrid(rows, cols, callback) {
        var i = 0;
        var grid = document.createElement('table');
        grid.className = 'grid';
        for (var r = 0; r < rows; ++r) {
            var tr = grid.appendChild(document.createElement('tr'));
            for (var c = 0; c < cols; ++c) {
                var cell = tr.appendChild(document.createElement('td'));
                if (i == 0) {
                    cell.innerHTML = "Start"
                    cell.bgColor = 'green'
                    i++;
                }
                else if (i == (rows * cols) - 1) {
                    cell.innerHTML = "End"
                    cell.bgColor = 'red'
                    i++;
                }
                else {
                    cell.innerHTML = ++i;
                }
                cell.addEventListener('click', (function (el, r, c, i) {
                    return function () {
                        callback(el, r, c, i);
                    }
                })(cell, r, c, i), false);
            }
        }
        return grid;
    }
</script>

</html>