{% extends 'base.html' %}

{% block title %}{{ block.super }}{% endblock title %}

{% block content %}

<!--- Insert Body Content here -->
<div class="head">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Create Challenge</h1>
    </div>
    <h3 style="text-align: center;">
        Click on the grid to add an obstacle to the maze
    </h3>
</div>
<div class="head">
    <form class="row g-3 justify-content-md-center">
        <div class="col-md-4">
            <label for="challenge-name" class="form-label">Challenge name</label>
            <input type="text" class="form-control" id="challenge-name" required>
        </div>
    
        <div class="card m-4">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-6 text-center">
                            <select id="gridSize" class="gridSize form-select form-select-md mb-4 text-center"
                                onchange="gridChange(this);">
                                <option value="3">3 x 3</option>
                                <option value="5">5 x 5</option>
                                <option value="7">7 x 7</option>
                            </select>
                        </div>
                        <div class="col col-lg-6 text-center">
                            <select id="difficulty" class="difficuly form-select form-select-md mb-4 text-center"
                                onchange="difficultyChange(this);">
                                <option value="Easy">Easy</option>
                                <option value="Normal">Medium</option>
                                <option value="Hard">Hard</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id='gridSpace'></div>
                
                <div class="float-right mt-2">
                    <button id="saveGrid" type="submit" class="btn btn-primary btn-lg px-5">Save</button>
                </div>
            </div>
        </div>
    </form>

    {% include 'alertmodal.html' %}
</div>
{% endblock content %}

{% block jsfile %}
{{ block.super }}
{% endblock jsfile %}