{% extends 'base.html' %}

{% block title %}{{ block.super }}{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<!--- Insert Body Content here -->
<div class="head">
<div class="jumbotron">
    <h1 class="display-4 text-center">Dashboard</h1>
</div>

<section class="home-section">

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Distance Travelled</div>
            <div class="number">-</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Increasing Connection</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Speed</div>
            <div class="number">-%</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Stable</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Data from Sensors</div>
            <div class="number">No data received</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">-</span>
            </div>
          </div>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Map</div>

        </div>
        <div class="top-sales box">
          <div class="title">Code being executed</div>

        </div>
      </div>
    </div>
  </section>
    </div>




{% endblock content %}
