<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
  <h1>Student.html Placeholder! Lorem Ipsum!</h1>
  <h2>
    Debitis quis sit est labore. Quia qui dignissimos occaecati porro ea. Dolorem ratione explicabo nulla earum nobis ex fuga. Quaerat atque minima eligendi. Et at temporibus at et dolore voluptatem.
    
    Id voluptas libero ratione fugit quis nostrum sed. Saepe sunt praesentium in eveniet modi laborum. Aut cumque ut accusamus nisi aliquam nihil optio.
    
    Sint consequatur ut esse pariatur. Quia vitae est laboriosam. Distinctio dolor quo in quidem. Fugiat aut velit aspernatur est dolores eum. Recusandae minima mollitia odio et nostrum quo omnis.
    
    Eligendi voluptas facilis et quo sequi. Exercitationem ut placeat eum quia iste voluptatibus maiores possimus. Non neque sit quos culpa.
    
    Praesentium saepe earum ab ad. Ducimus minus numquam non. Excepturi ea ea illum. Consequatur earum ipsam est enim illo facilis eos expedita.
  </h2>
  <button onclick="location.href='/home/'" class="button button">Back</button>
</body>
</html>